<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
	<title>Tailoring Redefined</title>

	<!-- css -->
	<link href="/css/base.min.css" rel="stylesheet">

	<!-- css for doc -->
	<link href="/css/project.min.css" rel="stylesheet">
	
	<!-- favicon -->
	<!-- ... -->
</head>
<body class="page-brand">
	<main class="content">
		<div class="content-heading">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1">
						<h1 class="heading">Tailoring Redefined.</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1">
					<section class="content-inner margin-top-no">
						<div class="card">
							<div class="card-main">
								<div class="card-inner">
									<p>We Are Launching Soon.</p>
								</div>
								<div class="feedgrabbr_widget" id="fgid_4b829b108c23a6c20ab1fb322"></div>
							</div>
						</div>
						
					
					</section>
				</div>
			</div>
		</div>
	
	</main>
	<footer class="footer">
		<div class="container">
			<p>TailorNinja &copy;</p>
		</div>
	</footer>
	<script>if (typeof (fg_widgets) === "undefined") fg_widgets = new Array(); fg_widgets.push("fgid_4b829b108c23a6c20ab1fb322");</script>
<script async src="https://www.feedgrabbr.com/widget/fgwidget.js"></script>
	<!--<script>
   function top_stories(o){ 
        // parse through the output here:
        var items = o.query.results.item;
        // do whatever you want with the output here:  
        console.log(items[1].title);
      }  
    </script> 
    <script src='http://query.yahooapis.com/v1/public/yql?q=select%20*%20from%20rss%20where%20url%3D%22http%3A%2F%2Frss.news.yahoo.com%2Frss%2Ftopstories%22&format=json&diagnostics=false&callback=top_stories'></script>  
  -->
	<!-- js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="/js/base.min.js"></script>

	<!-- js for doc -->
	<script src="/js/project.min.js"></script>
	
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '2112977258924284',
      cookie     : true,
      xfbml      : true,
      version    : 'v2.12'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
</body>
</html>