<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta content="IE=edge" http-equiv="X-UA-Compatible">
	<meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no, width=device-width" name="viewport">
	<title>Tailoring Redefined</title>

	<!-- css -->
	<link href="/css/base.min.css" rel="stylesheet">

	<!-- css for doc -->
	<link href="/css/project.min.css" rel="stylesheet">
	
	<!-- favicon -->
	<!-- ... -->
</head>
<body class="page-brand">
	<main class="content">
		<div class="content-heading">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1">
						<h1 class="heading">Tailoring Redefined.</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1">
					<section class="content-inner margin-top-no">
						<div class="card">
							<div class="card-main">
								<div class="card-inner">
									<p><b>W</b>e <b>A</b>re <b>L</b>aunching <b>S</b>oon.</p>
								</div>
							</div>
						</div>
						
					
					</section>
				</div>
			</div>
		</div>
	
	</main>
	<footer class="footer">
		<div class="container">
			<p>TailorNinja &copy;</p>
		</div>
	</footer>

	<!-- js -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="/js/base.min.js"></script>

	<!-- js for doc -->
	<script src="/js/project.min.js"></script>
</body>
</html>